@media only screen and (max-width: 740px) {
    .container-form {
        background-color: #f7f9f9;
        margin-bottom: 50px;
    }
    .form {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .submit-btn {
        background-color:  #58d68d;
        border: solid 1px  #58d68d;
        color: white;
    }
    .close-btn {
        margin-left: 15px;
        background-color: #e74c3c;
        border: solid 1px  #e74c3c;

    }
    


}