.App {
  text-align: center;
  margin: 20px, 20px, 0px 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.app-msg {
  display: flex;
  justify-content: space-around;
  margin: 30px 20% 30px 15%;
  text-align: start;
}
.hand {
  height: 80%;
  width: 100%;
}
.app-txt-msg {
  /* padding-right: 10px; */
  font-size: 35px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 740px) {

  .app-msg {
    display: flex;
    flex-direction: column;
    margin: 30px 35px 30px 35px;
    text-align: start;
  }
  .hand {
    height: 100%;
    width: 70%;
  }

  .app-txt-msg {
    font-size: 25px;
  }
}

